*.iml
.gradle

# Local configuration file (sdk path, ndk path, etc)
/local.properties

/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

# Android Studio captures folder
/captures

.externalNativeBuild

# Java class files
*.class

# Files for the Dalvik VM
*.dex
